Downloads/**
Documents/**
VMs/Installation images/**
VirtualBox VMs/**
.cache/**
.config/FreeTube/**
.config/Joplin/**
.config/VirtualBox/**
.config/btop/**
.config/enchant/**
.config/glib-2.0/**
.config/.gsd-keyboard.settings-ported
.config/QtProject.conf
.config/dleyna-server-service.conf
.dart-tool
.gnupg
.local/share/**
!.local/share/gnome-shell/extensions
.local/state/**
.mozilla/firefox
.nix-defexpr
.pki/nssdb
.pub-cache
.ssh
.theHarvester
.bash_history
.nix-profile
JoplinBackup
.android
.bundle
.cocoapods/repos/trunk
.cups
.dartServer
.docker
.fastlane
.flutter-devtools
.npm
.swiftpm
.vscode
.zsh_sessions
Desktop
Library
Movies
Music
Pictures
Public
tools
Applications
.vscode-oss
.gitlab
.CFUserTextEncoding
.DS_Store
.flutter
.lesshst
.python_history
.zsh_history
.config/flutter/tool_state
.config/ffuf
.config/go/telemetry/local
.config/ibus/bus
.config/joplin
.config/marimo
.config/VSCodium
.config/jnv
.config/nuclei
.config/protonup
.config/sif
.nuget
.ollama
.parallel
.rustup
.steam
.templateengine/dotnetcli/9.0.307
.tor project
go/pkg/mod
.msf4
.mason-cache/global/.mason
.config/monitors.xml
.config/termusic
.pulse-cookie
.steampath
.steampid
